<head>
	<!-- Titulo de la pagina
	================================================== -->
	<title><%= title %></title>

	<!--	Metas HTML
	==================================================	-->
	<meta	charset="utf-8"/>
  <meta	http-equiv="X-UA-Compatible"	content="IE=edge">
	<meta	name="author"									content="Victor Giovanni Beltrán Rodríguez"/>
	<meta	name="description"						content="CARVANG: Empresa que nace como resultado de la sinergia entre el mundo de la cobranza y el ámbito legal. Entregando a nuestros clientes altos índices de recuperación, debido a la reconocida experiencia del capital humano, recursos tecnológicos e innovación de estrategias en la cobranza."/>
	<meta	name="classification"					content="Soluciones,Especializadas,Legales,Cobranza,Urgente,Vencida,Juzgados,Civiles,Juzgados,Penales,Penal,Civil,Justicia,Conciliacion,Arbitraje,Propiedad,Notarias,SHCP,Secretaria,Hacienda,Credito,Publico"/>
	<meta	name="generator"							content="Sublime-text"/>
	<meta	name="keywords"								content="soluciones especializadas legales y de cobranza, cobranza urgente, cobranza vencida, juzgados civiles, juzgados penales, juzgados familiares, paz penal, paz civil, colegiados, salas civiles y penales, juzgados de distrito, tribunales, suprema corte de justicia de la nación, juntas locales y federales de conciliacion y arbitraje, registros publicos de propiedad, notarias, SHCP, secretaria de hacienda y credito publico"/>
	<meta	name="robots"									content="index,follow"/>

	<!--	Metas Networks
	==================================================	-->
	<!--	meta's facebook	-->
	<meta	property="og:title"					content=""/>
	<meta property="og:type"					content="website"/>
	<meta	property="og:image"					content=""/>
	<meta	property="og:url"						content=""/>
	<meta	property="og:site_name"			content=""/>
	<meta	property="og:description"		content=""/>
	<!--	meta's twitter	-->
	<meta	name="twitter:title"				content=""/>
	<meta	name="twitter:image"				content=""/>
	<meta	name="twitter:url"					content=""/>
	<meta	name="twitter:card"					content="summary_large_image"/>
	<meta	name="twitter:description"	content=""/>

	<!--	Meta especifica para mobil
	==================================================	-->
	<meta	name="viewport"	content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<!--	Proyecto humans.txt
	==================================================	-->
	<link	rel="author"	type="text/plain"	href="humans.txt"/>

	<!--	Incompatibilidad de navegadores
	==================================================	-->
	<!--[if lt IE 7]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
	<!--[if lt IE 8]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->

	<!--	Favicons
	==================================================	-->
	<link	rel="shortcut icon"			type="image/x-icon"							href="assets/img/favicon/favicon.ico"/>
	<link	rel="icon"							type="image/png"	sizes="32x32"	href="assets/img/favicon/favicon-32x32.png"/>
	<link	rel="icon"							type="image/png"	sizes="96x96"	href="assets/img/favicon/favicon-96x96.png"/>
	<link	rel="icon"							type="image/png"	sizes="16x16"	href="assets/img/favicon/favicon-16x16.png"/>

	<!--	Favicons iDevice
	==================================================	-->
	<link	rel="apple-touch-icon"	type="image/png"	sizes="57x57"		href="assets/img/favicon/apple-icon-57x57.png"/>
	<link	rel="apple-touch-icon"	type="image/png"	sizes="60x60"		href="assets/img/favicon/apple-icon-60x60.png"/>
	<link	rel="apple-touch-icon"	type="image/png"	sizes="72x72"		href="assets/img/favicon/apple-icon-72x72.png"/>
	<link	rel="apple-touch-icon"	type="image/png"	sizes="76x76"		href="assets/img/favicon/apple-icon-76x76.png"/>
	<link	rel="apple-touch-icon"	type="image/png"	sizes="114x114"	href="assets/img/favicon/apple-icon-114x114.png"/>
	<link	rel="apple-touch-icon"	type="image/png"	sizes="120x120"	href="assets/img/favicon/apple-icon-120x120.png"/>
	<link	rel="apple-touch-icon"	type="image/png"	sizes="144x144"	href="assets/img/favicon/apple-icon-144x144.png"/>
	<link	rel="apple-touch-icon"	type="image/png"	sizes="152x152"	href="assets/img/favicon/apple-icon-152x152.png"/>
	<link	rel="apple-touch-icon"	type="image/png"	sizes="180x180"	href="assets/img/favicon/apple-icon-180x180.png"/>

	<!--	Favicons Android Device
	==================================================	-->
	<link	rel="icon"							type="image/png"	sizes="192x192"	href="assets/img/favicon/android-icon-192x192.png" />

	<!--	Favicons manifest.json
	==================================================	-->
	<link	rel="manifest"					type="application/json"						href="/assets/img/favicon/manifest.json"/>

	<!--	Favicons Microsoft
	==================================================	-->
	<meta	name="msapplication-TileColor"	content="#eeeae3"/>
	<meta	name="msapplication-TileImage"	content="favicon/ms-icon-144x144.png"/>
	<meta	name="theme-color"							content="#eeeae3"/>

	<!--	Head Section Javascript
	==================================================
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>-->
	<script	type="text/javascript"></script>

	<!--	Head Section CSS
	================================================== -->
	<!--	Animate.css	-->
	<link	rel="stylesheet"	href="assets/vendor/bootstrap/css/bootstrap.min.css"/>
	<!--	CSS incrustado
	==================================================	-->
	<style	type="text/css">
		/*--	Colores-CMYK	--*/
		.cyan{
			background-color:#009BDB;
			color: #FF6424;
		}
		.magenta{
			background-color:#BA007C;
			color: #45FF83;
		}
		.yellow{
			background-color:#FEEE00;
			color: #0011FF;
		}
		.key{
			background-color:#211915;
			color:#DEE6EA;
		}
	</style>
</head>
